:root {
  /* Yazı tipleri */
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Arial', sans-serif;

  /* Yazı boyutları */
  --font-size-small: 15px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --font-size-xlarge: 24px;

  /* Renkler */
  --color-primary:#1d1d1d; /* Metin rengi */ ; 
  --color-gray:#A5A9B2;/* Gri */
  --color-green: #02D076; /*Yeşil*/
  --color-banner:#FAFAFA;
  --color-badge: #F6F8FF
  
}

body {
  font-family: var(--font-primary);
  color: var(--color-primary);
  
}

/* SCROLL BTN */
#scrollTopBtn {
  position: fixed;
  z-index: 10;
  bottom: 70px;
  right: 20px;
  border: none;
  background-color: #f5f8fa;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Hafif bir gölge efekti ekle */

}

#scrollTopBtn:hover {
  background-color: #F0F0F0; /* Hafifçe koyulaşan bir efekt */
}

/* SCROLL BTN */



.search-container {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid rgb(202, 194, 194);
  border-radius: 5px;
  padding: 4px;
  padding-right: 14px;
  padding-left: 10px;
  cursor: text; /* Tüm alanın tıklanabilir olduğunu gösterir */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Sadece border ve gölge için geçiş */
}


.search-container:hover,
.search-container:focus-within {
  border-color: #333; /* Hover ve focus durumunda border rengini siyah yap */
  box-shadow: 0 0 5px rgba(59, 90, 230, 0.8); /* Hafif bir gölge efekti ekle */
}

.search-container input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 16px;
  color: #293349;
  
}

.search-container input::placeholder {
  color: #A5A9B2; 
  font-size: var(--font-size-small) ;
  
}

.navItem ul>li>a{
  color: var(--color-primary);
}

.navItem ul>li>a:hover{
  color: var(--color-green);
}




/* Dropdown'un hover ile açılmasını sağla */
.navbar .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/* İş ilanları Popover */
/* Popover genel stil */
.popover {
background-color: var(--color-primary); /* Arkaplan rengini değiştir */
color: rgb(7, 59, 204); /* Yazı rengini değiştir */
border-radius: 5px; /* Köşeleri yuvarlat */
text-align: center;
}

/* Popover başlık */


/* Popover içeriği */
.popover-body {
padding: 15px;
font-size: 13px;
color: white;
}

/*İş ilanlarımız */

.recruitment{
  background-color: var(--color-banner);
}

.job-card{
  background-color: white; 
  border-radius: 5px;
  border: 1px solid #ebebeb ;

}
.job-card:hover{
  border: 1px solid #1d1d1d ;
  box-sizing: border-box;
  cursor: pointer;

}

/*Eğitimlerimiz */

.education-card:hover{
  border: 1px solid #1d1d1d ;
  box-sizing: border-box;
  cursor: pointer;
}